<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Fitness Today</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:replace="fragments :: style">
</head>
<body>
<nav th:replace="fragments :: nav"></nav>
<div th:replace="fragments :: flash"></div>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Event name</th>
                <th scope="col">Event Trainer</th>
                <th scope="col">Delete</th>
                <th scope="col">Settings</th>

            </tr>
        </thead>
        <tbody>
            <tr th:each="event : ${events}">
                <th scope="row" th:text="${event.id}"></th>
                <td th:text="${event.name}"></td>
                <td th:text="${event.trainer.name}"></td>
                <td><form method="post"
                          th:action="@{/event/delete/{id}(id=${event.id})}"
                          class="inline todo-item">
                    <button type="submit" class="btn btn-danger" onClick="return confirm('sure?')">
                        Delete</button>
                </form></td>
                <td><form method="post"
                          th:action="@{/event/{id}(id=${event.id})}"
                          class="inline todo-item">
                    <button type="submit" class="btn btn-info" onClick="return confirm('sure?')">
                        Settings</button>
                </form></td>

            </tr>
        </tbody>
    </table>
</div>

<div th:replace="fragments ::footer"></div>
<div th:replace="fragments :: scripts"></div>
</body>
</html>
